[
  {rabbit, [
     {ssl_listeners, [5671]},
     {ssl_options, [{cacertfile,"/etc/rabbitmq/ssl/server.crt"},
                    {certfile,"/etc/rabbitmq/ssl/server.crt"},
                    {keyfile,"/etc/rabbitmq/ssl/server.key"},
                    {verify,verify_peer},
                    {fail_if_no_peer_cert,false}]}
   ]}
].
